@tailwind base;
@tailwind components;
@tailwind utilities;

body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #0A0A0A;
  color: white;
  font-family: 'Pretendard Variable', sans-serif;
  overflow-x: hidden; /* 화면 넘침 방지 */
  box-sizing: border-box;
}

* {
  font-family: 'Pretendard Variable', sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button:hover {
  cursor: pointer;
}

input::placeholder {
  color: #AFAFAF;
}

/* 커스텀 스타일 추가 */
@import './styles/textStyle.css';


@keyframes pulse {
  0% { opacity: 0.6; }
  50% { opacity: 1; }
  100% { opacity: 0.6; }
}

.Toastify__toast {
  display: inline-flex !important;
  white-space: nowrap !important; /* 줄바꿈 ❌ */
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80vw; /* 최대 너비를 화면 80%로 제한 */
  min-width: fit-content;
  font-size: 13px;
}

